<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanse.anthony.fitcoinandroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kube_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kube_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.amanse.anthony.fitcoinandroid.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.amanse.anthony.fitcoinandroid.QuantitySelection"
            android:screenOrientation="portrait" />
        <activity android:name="com.amanse.anthony.fitcoinandroid.ContractDetails"
            android:screenOrientation="portrait" />
        <activity android:name="com.amanse.anthony.fitcoinandroid.ContractList"
            android:screenOrientation="portrait" />
    </application>

</manifest>